In [445]:
# Importing the necessary libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [446]:
# Loading data
df = pd.read_csv('Medical Price Dataset.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [447]:
#converting values into numerical form
df = df.replace({'male': 1, 'female':0})
df = df.replace({'northeast': 1 , 'northwest':1 , 'southeast':3, 'southwest':4})
df = df.replace({'yes': 1 , 'no':1})

In [448]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       4  16884.92400
1      18    1  33.770         1       1       3   1725.55230
2      28    1  33.000         3       1       3   4449.46200
3      33    1  22.705         0       1       1  21984.47061
4      32    1  28.880         0       1       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       1       1  10600.54830
1334   18    0  31.920         0       1       1   2205.98080
1335   18    0  36.850         0       1       3   1629.83350
1336   21    0  25.800         0       1       4   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [449]:
# Seperate features and target variable
X = df.iloc[:, :6]
y = df.iloc[:, -1]
# Scaling the dataset to fit the model
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
# Dividing the data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [460]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [450]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1003, 6) (335, 6) (1003,) (335,)

In [451]:
def cost_function(X, y, w, b):
    cost = np.sum((((X.dot(w) + b) - y) ** 2) / (2*len(y)))
    return cost

In [452]:
def gradient_descent_function(X, y, w, b, alpha=0.005, epochs=800):
    m = len(y)
    costs = [0] * epochs
    
    for epoch in range(epochs):
        # Calculate the value -- Forward Propagation
        z = X.dot(w) + b
        
        # Calculate the losses
        loss = z - y
        
        # Calculate gradient descent
        weight_gradient = X.T.dot(loss) / m
        bias_gradient = np.sum(loss) / m
        
        # Update weights and bias
        w = w - alpha*weight_gradient
        b = b - alpha*bias_gradient
        
        # Store current lost
        cost = cost_function(X, y, w, b)
        costs[epoch] = cost
        
    return w, b, costs

In [453]:
# Initial random weights
w = np.random.randn(X_train.shape[1])
# Initial bias
b = 0
weights, bias, costs = gradient_descent_function(X_train, y_train, w, b, epochs= 2500)

In [454]:
def r2score(y_pred, y):
    rss = np.sum((y_pred - y) ** 2)
    tss = np.sum((y-y.mean()) ** 2)
    
    r2 = 1 - (rss / tss)
    return r2

In [455]:
def predict(X,w,b):
    return X.dot(w)+b

In [456]:
y_pred = predict(X_test, weights, bias)
r2 = r2score(y_pred, y_test)
print (r2)

0.15504105487076802